The following troubletickets have been forwarded to you from the n!Project Database.

<table border=1>
 <tr>
  <td rowspan=2>CSC</td>
  <td rowspan=2>TT</td>
  <td rowspan=1 colspan=3>Usterki stopnia</td>
  <td rowspan=2>Kod usterki</td>
  <td rowspan=2>Opis usterki</td>
  <td rowspan=2>Uwagi</td>
  <td rowspan=2>Data usuni&#281;cia</td>
  <td rowspan=2>Wlasciciel</td>
  <td rowspan=2>Uwagi_1</td>
  <td rowspan=2>Uwagi_2</td>
  <td rowspan=2>Uwagi_3</td>
  <td rowspan=2>Uwagi_4</td>
  <td rowspan=2>Uwagi_5</td>
  <td rowspan=2>Uwagi_6</td>
  <td rowspan=2>Uwagi_7</td>
  <td rowspan=2>Uwagi_8</td>
  <td rowspan=2>Uwagi_9</td>
  <td rowspan=2>Uwagi_10...n</td>
 </tr>
 <tr>
  <td>1</td>
  <td>2</td>
  <td>3</td>
 </tr>
    <?rows?>
        <?row?>
        <tr>
            <td><?$csc?></td>
            <td><?$tt?></td> 
            <td><?$k1?></td> 
            <td><?$k2?></td> 
            <td><?$k3?></td> 
            <td><?$kod?></td> 
            <td><?$opis?></td> 
            <td><?$Uwagi?></td>
            <td><?$DataUsunieciaPrzezSub?></td>
            <td><?$ttowner?></td>
            <td><?$cmt1?></td>
            <td><?$cmt2?></td>
            <td><?$cmt3?></td>
            <td><?$cmt4?></td>
            <td><?$cmt5?></td>
            <td><?$cmt6?></td>
            <td><?$cmt7?></td>
            <td><?$cmt8?></td>
            <td><?$cmt9?></td>
            <td><?$cmt10?></td>
        </tr>		
        <?/row?>
    <?/?>
</table>