The following troubletickets have been forwarded to you from the n!Project Database.

<table border="1">
    <tr>
        <td  colspan="16">
            <h3>Troubletickets </h3>
        </td>
    </tr>
    <tr>
        <th>CSC</th>
        <th>Zamowienie</th>
        <th>TT</th>
        <th>NazwaStacji</th>
        <th>Opis</th>
        <th>Uwagi</th>
        <th>Kategoria</th>
        <th>Subco</th>
        <th>ZgloszeniePL</th>
        <th>DataWyslaniaDoSUB</th>
        <th>DataZgloszeniaUsunieciaPL</th>
        <th>DataZamknieciaUsterek</th>
        <th>OsobaKontaktowa</th>
        <th>author</th>
        <th>region</th>
        <th>Wlasciciel</th>
    </tr>
    <?rows?>
    <?row?>
    <tr>
        <td><?$csc?></td> 
        <td><?$Zamowienie?></td>
        <td><?$tt?></td>
        <td><?$NazwaStacji?></td>
        <td><?$opis?></td>
        <td><?$Uwagi?></td>
        <td><?$Kategoria?></td>
        <td><?$subco?></td>
        <td><?$DataWpisu?></td>
        <td><?$data_wyslania?></td>
        <td><?$DataZgloszenia?></td>
        <td><?$DataUsuniecia?></td>
        <td><?$OsobaKontaktowa?></td>
        <td><?$author?></td>
        <td><?$region?></td>
        <td><?$ttowner?></td>
    </tr>		
    <?/row?>
    <?/?>
</table>